<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M LEAGUE DB</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <div class="container">
            <a href="/">M LEAGUE DB</a>
        </div>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>選手一覧</h1>
      </div>
      <div class="index-table-wrapper">
        <ul class="table-body">
          <% players.forEach((player) => { %>
            <li>
              <div class="player-list">
                <a href="/player_list/<%= player.id%>" class="name-column">・<%= player.last_name %> <%= player.first_name %></a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <a href="/" class="cancel-button">もどる</a>
    </div>
  </body>
</html>