<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M LEAGUE DB</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/send_url.js"></script> -->
  </head>
  <body>
    <header>
        <div class="container">
            <a href="/"><h1>M LEAGUE DB</h1></a>
        </div>
      </header>
    <div class="container">
      <div class="container-header">
        <h1>チーム一覧</h1>
      </div>
      <div class="index-table-wrapper">
        <!-- <div class="table-head">
          <span>チーム名</span>
        </div> -->
        <ul class="table-body">
          <% teams.forEach((team) => { %>
            <li>
              <div class="team-data">
                <span class="name-column"><%= team.name %></span>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <a href="/" class="cancel-button"></span>もどる</a>
    </div>
  </body>
</html>