<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>M LEAGUE DB</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
          <a href="/">M LEAGUE DB</a>
      </div>
    </header>
      <div class="wrapper team">
        <h2>チームから探す</h2>
        <a href="/team_list" class="index-button">チーム一覧を見る</a>
        <div class="team-form-wrapper">
          <p class="form-label">チーム名を入力</p>
          <form action="/team-search" method="get">
            <input type="text" name="teamName">
            <input type="submit" value="検索する">
          </form>
        </div>
      </div>
      <div class="wrapper player">
        <h2>選手からから探す</h2>
        <a href="/player_list" class="index-button">選手一覧を見る</a>
        <div class="player-form-wrapper">
          <p class="form-label">選手名を入力</p>
          <form action="/player-search" method="get">
            <input type="text" name="playerName">
            <input type="submit" value="検索する">
          </form>
        </div>
      </div>
  </body>
</html>