/* reset ================================ */
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  body {
    margin: 0;
    background-color: #f6faff;
    color: #6c7686;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  } 
  
  a:hover {
    color: #58d2b2;
    transition: all 0.3s ease;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  h1 {
    font-weight: 600;
  }
  
  input {
    font-family: inherit;
    font-size: 100%;
  }
  
  /* top ================================ */
  .wrapper {
    /* max-width: 1200px;
    min-width: 920px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 60px;
  }  

  .wrapper h2 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  
  .index-button {
    cursor: pointer;
    font-size: 18px;
  }

  .form-label {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  /* team_list ============================= */

  .container-header {
    padding-bottom: 20px;
  }

  .name-column {
    font-size: 24px;
  }
  
  .cancel-button {
    cursor: pointer;
    padding: 20px 0;
  }
    
  /* header ================================ */
  header {
    height: 56px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f4f9;
  }

  header a {
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    color: #6c7686;
    margin: 0;
  }
  
  /* container ================================ */
  .container {
    width: 80%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 56px;
  }
  
  /* player_data ============================== */

  .player-data-container {
    padding: 10px 0;
  }

  .player-table-head {
    display: flex;
    background-color: #b7cadc;
    border-radius: 2px 2px 0 0;
    height: 44px;
    font-size: 16px;
    line-height: 46px;
    color: #ffffff;
  }
  
  .player-table-body {
    background-color: #ffffff;
    height: 72px;
    border: 1px solid #f0f4f9;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .game-table-head {
    display: flex;
    background-color: #b7cadc;
    border-radius: 2px 2px 0 0;
    height: 44px;
    font-size: 16px;
    line-height: 46px;
    color: #ffffff;
  }

  .year-column {
    width: 144px;
    text-align: center;
  }

  .season-column{
    width: 144px;
    text-align: center;
  }

  .date-column{
    width: 144px;
    text-align: center;
  }

  .rank-column{
    width: 144px;
    text-align: center;
  }

  .point-column{
    width: 144px;
    text-align: center;
  }

  .p-column {
    width: 230px;
    text-align: center;
  }

  .game-table-body {
    background-color: #ffffff;
  }
  
  .game-table-body li {
    height: 72px;
    border: 1px solid #f0f4f9;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }